BODY{
    background-color: rgb(245, 212, 180);
}
#NEHA{
    display: flex;
   
    position: sticky;

    justify-content:space-between;
    padding-right: 40px;
}

#NEHA::before{
    content: "";
    background-color:rgba(190, 114, 32, 0.75);
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width:100%;
    z-index: -1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

H1{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.logo{
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 26%;
    border: 2px solid white;
    border-radius: 30px;
    margin: 3px;
}

#NEHA ul{
    display: flex;
}

#NEHA ul li{ 
    list-style: none;
    font-size: 1rem;
    
}

#NEHA ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px 30px;
    border-radius: 30PX;
    text-decoration:none;
    font-weight: 700;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

#NEHA ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(245, 212, 180);
    border-radius: 10px;
}

#bag::before{ 
    content: "";
    position: absolute;
    background: url(BAGGROUND.png) no-repeat center center/cover;
    height: 720PX;
    top:0PX;
    width: 100%;
    z-index: -1;
}

.header-container{
    display: grid;
    grid-template-columns: 548% 120%;
    align-items: center;
    margin-left: 10%;
}

.container{
    max-width: 90px;
    width: 90%;
    margin: 0 auto;
    padding-right: 70%;
    padding-left: 5%;
}

.name{
    font-size: 56px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color:var(--color-white);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-action-aria{
    display: flex;
    gap: 10px;
    align-items: center;
}

.bttn{
    
    display: inline-block;
    width: fit-content;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 500;
    transition: .4s ease;
    color:black;
    border-radius: 6px;
}
.bttn:hover{
    background: white;
    color: var(--color-bg);
    border-color:transparent ;
}
.bttn-primary{
    background: var(--color-primary);
}

.header-right img{
    width: 300%;
    display: block; 
    padding-left: 250px;
}

.BOX{
    border-width: 100%;
    background-color: #de9c5b;
    height: 550PX;
    top: 550PX;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 50px;
    grid-column-gap: 300px;
    padding-left: 250px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
    background-color:rgb(245, 212, 180);
    color: black;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-item:hover {
    background-color: #de9c5b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.BOXX{
    border-width: 100%;
    background-color: #de9c5b;
    height: 620PX;
    top: 550PX;
}

.HEAD{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 54PX;
    padding-top: 10px;
}

.table{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 30px;
    grid-column-gap: 300px;
    padding-left: 180px;
}

.im{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 160px;
    color: black;
    border-radius: 20PX;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    background-color:rgb(245, 212, 180);
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.table2{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 30px;
    grid-column-gap: 300px;
    padding-left: 180px;
}

.CV{
    height: 250PX;
    width: 400PX;
    border-radius: 20PX;
} 

.bUTTONS{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.Contact{
    background-color: #de9c5b;
    height: 690px;
}

.text-center{
    text-align: center;
    font-size: 54px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.form{
    max-width: 62%;
    margin: 20px auto;
}

.form-input{
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 14px 0;
    padding: 5px 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.btn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
    border: 2px solid black;
}

footer{
    background-color: black;
    color: rgb(255, 242, 242);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0.1px;
}